.container-fluid {
  background-color: #80CED7;
}

.navbar-brand {
  padding: 5px;
}
.logo {
  padding: 0;
  height: 45px;
}

#watchLiveLink {
  font-weight: bolder;
}

.main-container {
  background-color: transparent;
  background-image: url(../img/underwaterLight.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  margin-top: 50px;
  text-align: center;
  color: black;
  text-shadow: 1px 1px white;
  min-height: 600px;
	clear: both;
  background-color: transparent;
  /*background-color: mediumturquoise;*/
  border-bottom: 5px 5px red;
  /*opacity: 0.5;*/
}

h1 {
  position: relative;
  top: 245px;
}

.btn-lg {
  position: relative;
  top: 245px;
}

.manatee-float {
  display: none;
  position: absolute;
  left: 54%;
  top: 10%;
  width: 40px;
}

.manatee-float2 {
  display: none;
  position: absolute;
  left: 58%;
  top: 10%;
  width: 20px;
}

.divider {
  position: relative;
  width: 100%;
  /*top: 220px;*/
}

/*#jumboDivider {
  top: 220px;
}*/

/*#aboutDivider {
  top: -450px;
}*/

/*#movieDivider {
  top: 120px;
}*/

/*#infoDivider {
  top: -50px;
}*/

/*.jumbo-content {
  opacity: 1.0;
}*/
/*.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}*/

#movie-holder {
  min-height: 600px;
  width: 100%;
  background-color: transparent;
  /*background-color: black;*/
  /*border-width: 2px 2px;*/
}

video {
  margin-top: 20px;
  border: 10px black solid;
}

/*video {
  float: left;
  position: relative;
  top: 100px;
  left: 80px;
}*/

/*.placeholder {
  margin-top: 10px;
  position: relative;
  left: 15%;
  text-align: center;
  height: 400px;
  border-width: 2px 2px 2px 2px;
  border-color: white;

}*/

/*.caption {
  position: relative;
  top: 170px;
  float: right;
  right: 140px;
  width: 300px;
  height: 200px;
  /*background-color: white;*/
  /*border-radius: 50%;*/
  /*text-align: center;
  color: white;
}*/

h2 {
  margin-top: 80px;
  color: white;
  text-shadow: 1px 1px #000000;
  text-align: center;
  background-color: transparent;
}

#about-section {
  min-height: 600px;
  height: auto;
  width: 100%;
  padding: 0 50 50 50;
  margin-bottom: 20px;
  /*height: auto;*/
  overflow: hidden;
  background-color: inherit;
}

/*#aboutHeading {
  margin-top: 80px;
}*/

#bigLogo {
  height: 375px;
  width: auto;
  background-color: transparent;
}

#about-text {
  vertical-align: center;
  background-color: transparent;
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px #000000;
  margin-top: 20px;
  margin-bottom: 0px;
}

#infoHolder {
  min-height: 600px;
  height: auto;
  width: 100%;
  padding: 50px;
  margin-bottom: 20px;
  /*height: auto;*/
  overflow: hidden;
  background-color: transparent;
}

#infoHeading {
  margin-top: 30px;
  color: white;
  text-shadow: 1px 1px #000000;
  text-align: center;
  background-color: transparent;
}

#infoHolder > p {
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px #000000;
  margin-top: 20px;
  margin-bottom: 0px;
  /*margin-bottom: 20px;*/
}

.row {
  margin: 40px;
}

#seaworld-logo {
  padding-top: 20px;
}

#cffw-logo {
  height: 110px;
  width: auto;
}

.info-logo {
  height: 130px;
  width: auto;
}

/*.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}*/

/*#arkiveIframe {
  margin-bottom: 20px;
}*/

#frame {
  overflow : hidden;
}

.navbar-fixed-bottom >
.container {
  padding: 0px;
  height: 100px;
  text-align: center;
  background-color: #80CED7;
  width: 100%;
}

#iframe {
  text-align: right;
}

.footer-text {
  font-weight: bold;
  text-shadow: 1px 1px gray;
  position: relative;
  margin: 30px;
  bottom: 40px;
}